.tl-ui-select {position:absolute;display:none;border: 1px solid #ccc;min-height: 10px;background-color: #fefefe;overflow-y:auto;}
.toolbar{height:30px; border-bottom: 1px solid #dbdbdb;background-color: #fff;width: 100%;box-shadow: 0 0 3px rgba(204,204,204,.3);z-index: 11;position: relative; overflow: hidden;clear: both;}
.tab-list{ height: 29px;background-color: #F1F1F1;border-bottom: #eee 1px solid;margin:0;z-index:12;position:relative;}
.tab-list-item{float:left;list-style-type:none; height: 30px;line-height: 36px;line-height: 28px;font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,"Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;font-size: 12px;padding: 0 20px!important; background-color: #f1f1f1;cursor: pointer;}
.tab-list-item:hover{background-color: #ccc!important;}
.tab-list-item-active{background-color: #fff!important;}
.tab-content{margin: 10px;white-space: nowrap;background-color: #fff;width: 100%; /*box-shadow: 0 0 3px rgba(204,204,204,.3);*/z-index: 11;height: auto;position: relative;overflow: hidden; clear: both;}
.tab-content-item{ display:none!important;width:9999px;-webkit-font-smoothing: auto;font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,"Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;display: inline-block;vertical-align: top; overflow-y: auto;overflow-x: hidden;overflow: hidden;position: relative;top: 0;left: 0;-webkit-user-drag: none;color: #000;line-height: 1.5;font-size: 12px;}
.tab-content-item-panel{margin-left:6px;border-radius:2px; position: relative;top: 0; left: 0;height: 90px;border:1px solid #d3d3d3;float:left;}
.tab-content-item-panel-label{display: block;text-align: center;width: auto;color: #666;border-bottom: 1px solid #d3d3d3;padding: 0 5px;}
.tab-content-item-panel-content{padding: 8px 5px;}
.tab-content-item-panel-content-control{display: block;border: 0;margin-top: 2px!important;padding: 2px;margin: 0 0 0 2px;overflow: hidden;cursor: default;}
.control-disabled{background-color: #fff;opacity: .5!important;}
.tab-content-item-panel-content-control:hover{background-color: #D5E1F2!important;}
.tab-content-item-panel-content-btn0{float:left;border-radius: 2px;border: 1px solid #ababab;border-color: #d3d3d3;margin-right:4px;padding: 0px!important;}
.tab-content-item-panel-content-btn{cursor:default; float:left;border-radius: 2px;border: 1px solid #ababab;border-color: #d3d3d3;margin-right:4px;padding: 0 2px!important;}
.tab-content-item-panel-content-btn:hover{background-color: #D5E1F2!important;}
.tab-content-item-panel-content-btn1{cursor:default; float:left;padding: 2px;margin: 0 0 0 2px;}
.tab-content-item-panel-content-btn1:hover{background-color: #D5E1F2!important;}
.tab-content-item-panel-content-btn2{cursor:default; float:left;border-radius: 2px;border: 1px solid #ababab;border-color: #d3d3d3;margin-right:4px;padding: 0 0 0 2px!important;}
.tab-content-item-panel-content-btn2 .btn2-left:hover{background-color: #D5E1F2!important;}
.tab-content-item-panel-content-btn2 .btn2-right:hover{background-color: #D5E1F2!important;}
.tab-content-item-panel-content-box{padding:2px;float:left;height:57px;}
.tab-content-item-panel-content-box img{border:none;display: inline-block;}
.tab-content-item-panel-content-box:hover{background-color: #D5E1F2!important;}
.toggle-toolbar .dock-toolbar:hover{background-color: #D5E1F2!important;}
.toggle-toolbar .fold-toolbar:hover{background-color: #D5E1F2!important;}


html, body{ margin:0; }
        .edui-default .edui-editor {border: none;box-shadow: 0 0 0 1px #d1d1d1,0 0 3px 1px #ccc;border-radius:0;-webkit-border-radius:0;padding:60px;}
::-webkit-scrollbar {
    width: 9px!important;
    height: 9px!important;
    box-sizing: border-box
}

::-webkit-scrollbar-button {
    width: 9px!important;
    height: 12px!important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAYAAADRA14pAAADr0lEQVRYR71Yy04iQRQtE10IRiSBOLbOUvZmfkIlLHXjI+jCDzAm8w8TJKxZyENdqEui8BPuDVtsHCNGQcFEWUzdSt/KtbqqqZ44U0kn1V2n69xz63W6x5h9iXFoNADe521dftnibJlt+7PCjdmycpzz9vbmmvCTk5PzvK0NuNvbWyNuYWEBcbbUX8obSvBgMDAKiUQiUrDLi0nNPC9eYqwFfyWvTvAPHsm1JhqHEl9dXbHV1VUJo4Lv7u6k4JOTE7a5uSlxc3Nz/0ww5VXjR15VMIjFoop2+v2+EAJisaDoaDQqR/j+/l7gjo+PJW5ra0vUZ2dnqWDko1zqM+fi4kL0RxOMMaytrUneXC4ncMhFYzg4OBA4KpiK1Yl2Xl9fXSqWip6ampLEDw8PbrVa9U2S7e1tlkwmdYIBC6J1CXfOz8/ljAHRNIbFxcXs0tJShb/rHB4eShxw0RgymczPVCr1CwWrRCOJeQesVqtJUevr61JwPp+XxHt7e6xYLErc/v6+OqVHJvrl5cWt1+u+BEIMNzc3UvDj46NbqYD2zwViaLfbWsGBU+vs7EwIASIow+GQYSA8e5K4UCgIHBBBeX9/Z+VyWdT5CAliJabApdTr9UR/VDTGQPeO5+dngUMuGgPiQu3S3W7XHR8fl2IxaHjWbDalYAhwYmJCNH98fEht8KzVaukEA8a4WQIvdgKiacJjsZicWZgYwJZKJZlwiGF6etq3hpWk+24dzKAOODMzI4lhrZs6I2t9FB+2+3ghcZjIIF4YCJiFUJA31AjbCrY8N/9aMH2RCrbhDSP4OydKBETZ4W09fn3jV8SAG/Dnv/kFFtS22PC2eGdWOJNg3fnos3iXl5ci6HQ6zTxryVRbeXp6KjAbGxvMYCt1XDQZgpdy0UbV0lI+ikNuk9NCLN21fU4LQXA2ersgbP+fXBZiwG05jqNzWUE7NLwueHVmBxrpLg3c4OwoJ9aR+6udFgvhsugA/DeHZ3JaWi+tOi1q9bxdkHU6nU8uCxwPlkQiEeSjTaKFw8M+1JGmDg+4EUddFsSA3KFGWGcAVlZWBId3zrGnpyff4Z/NZgUmHo+bBIc2Hgqv+Cy14Q61hlUDgNkEcs8AMPXwR8zOzo48/Olc5vWRaxh4qctCsdCPajzAcFBOrI8yHtpdWj2HG42G6G95eZl55yHDLyokOjo6EtXd3V1Gvqh061e3jAAnjAfloi/Tcxi4KR/FIXeYc9jmFwpw2PwGUgY58NaG1/rX0h9d1DUzJEP0JgAAAABJRU5ErkJggg==);
    background-color: transparent;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:vertical:start {
    background-position: 0 0
}

::-webkit-scrollbar-button:vertical:start:hover {
    background-position: -10px 0
}

::-webkit-scrollbar-button:vertical:start:active {
    background-position: -20px 0
}

::-webkit-scrollbar-button:vertical:end {
    background-position: -30px 0
}

::-webkit-scrollbar-button:vertical:end:hover {
    background-position: -40px 0
}

::-webkit-scrollbar-button:vertical:end:active {
    background-position: -50px 0
}

::-webkit-scrollbar-button:horizontal:start {
    background-position: 0 -11px
}

::-webkit-scrollbar-button:horizontal:start:hover {
    background-position: -10px -11px
}

::-webkit-scrollbar-button:horizontal:start:active {
    background-position: -19px -11px
}

::-webkit-scrollbar-button:horizontal:end {
    background-position: -30px -11px
}

::-webkit-scrollbar-button:horizontal:end:hover {
    background-position: -40px -11px
}

::-webkit-scrollbar-button:horizontal:end:active {
    background-position: -50px -11px
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    background-color: rgba(0,0,0,0.15)
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.21)!important;
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.4);
    border: 1px solid rgba(0,0,0,0.21)!important;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,0.5);
}

::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
    -webkit-border-radius: 1px;
}

::-webkit-scrollbar-track:ho
        ver {
    background-clip: pad i
            ;
    backgroun -color: rgba
            ,0.3);
        }
